flask
flask-restful
requests
flask-script
flask-cors
flask-sqlalchemy
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
psycopg2-binary
celery[redis]
celery
bcrypt
redis
flask-redis
Flask-JWT-Extended
selenium
sounddevice
scipy
spotipy
pylint
gunicorn
pytest